body { 
  width:100%;
  height:100%;
  color: #F0F0F0;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5{
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: .1em;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

hr{
  width: 80px;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #E1C98B;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F0F0F0;
}

a:active {
  text-decoration: none;
}

.white {
  color: #F0F0F0;
}

/*---------------------------INTRO BACKGROUND AND NAV SECTION*/

#home{
  width: 100%;
  height: 100%;
  background-image: url("images/fall-recipes2.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#weblogo{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 55%;
}

/*---------------------------NAV SECTION*/

.navbar{
  text-align: left;
}

.navbar-custom {
    background-color: #252226;
    opacity: .8;
}

.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-item:hover{
  color: #E3C67F !important;
}

#nav-logo{
  width: 70px;
}

/*---------------------------ABOUT SECTION*/

.about{
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 900px) {
  .about {
    padding: 80px;
  }
}

/*---------------------------WHAT WE DO SECTION*/

#service{
  background-image: url("images/winebottleimg.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon{
  width: 80px;
  padding-top: 20px;
}
.servicecard{
  width: 250px;
  background: #F0F0F0;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.card-title{
  font-size: 16px;
  padding-top: 20px;
}

.card-text{
  font-size: 12px;
  padding: 10px;
  color: black;
}


/*---------------------------GALLERY SECTION*/

#work{
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 80px;
  padding-bottom: 65px;
}

.gallery{
  max-width: 220px;
}


@media (max-width: 700px) {
  .gallery{
    max-width: 150px;
  }
  #work{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 80px;
  padding-bottom: 65px;
}
}

/*---------------------------OUR TEAM SECTION*/

#team{
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 65px;
  background: #252226;
  color: #F0F0F0;
}

.profile{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 50%;
  margin:15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 150px;
}

@media (max-width: 767px) {
  .profile{
    max-width: 100px;
  }
}

/*---------------------------OUR VALUES SECTION*/

#values{
background-image: url("images/valuedrop.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 65px;
}

.numbers{
  width: 30px;
  margin-top: 20px;
}

.valuecard{
  width: 260px;
  background: #F0F0F0;
  margin: 15px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
  border-radius: 5px;
}

.value-title{
  font-size: 16px;
  padding-top: 20px;
}

.value-text{
  font-size: 12px;
  padding: 12px;
  text-align: left;
}

@media (max-width: 600px) {
  #values {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .valuecard{
    width: 400px;
  }
  #values{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 80px;
  padding-bottom: 65px;
}
}

/*---------------------------GET IN TOUCH SECTION*/

#contact{
  background-image: url("images/fall-recipes2.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#mail{
  width: 60px;
}

@media (min-width: 767px) {
  .width {
    width: 300px;
  }

  .width2 {
    width: 600px;
  }
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px !important;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px !important;
}


.foot {
    width: 100%;
    color: lightgray;
    background: #252226;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.social {
  width: 25px;
  margin-left: 6px;
  margin-right: 6px;
  right: 0;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -145px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 40px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 480px; /* 640px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 480px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 480px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 480px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 480px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* Message confirmation pop up rules for smaller screens */
@media (max-width: 767px) {
  #snackbar {
    bottom: 340px; 
  }

  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 340px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 340px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 340px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 340px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
}
